<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>YouVersity Dashboard</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<link href="../../../resources/themes/default/style.min.css"
	rel="stylesheet" media="screen"
	th:href="@{/resources/themes/default/style.min.css}" />
<link href="../../../resources/jquery-ui-1.11.3.custom_peppergrinder/jquery-ui.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/jquery-ui-1.11.3.custom_peppergrinder/jquery-ui.min.css}"/>
<link href="../../../resources/jquery-ui-1.11.3.custom_peppergrinder/jquery-ui.structure.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/jquery-ui-1.11.3.custom_peppergrinder/jquery-ui.structure.min.css}"/>
<link href="../../../resources/jquery-ui-1.11.3.custom_peppergrinder/jquery-ui.theme.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/jquery-ui-1.11.3.custom_peppergrinder/jquery-ui.theme.min.css}"/>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../../resources/jquery-ui-1.11.3.custom_peppergrinder/jquery-ui.min.js" th:src="@{/resources/jquery-ui-1.11.3.custom_peppergrinder/jquery-ui.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="../../../resources/js/jstree.min.js"
	th:src="@{/resources/js/jstree.min.js}"></script>
<script src="../../../resources/js/dashboardScript.js"
	th:src="@{/resources/js/dashboardScript.js}"></script>
	<style>
		th{
		padding-right: 10px;
		text-align: center
		}
		
		td{
		padding-right: 5px;
		text-align: center
		}
	</style>
</head>
<body style="background-color:#eceadf; background:../../../resources/jquery-ui-1.11.3.custom_peppergrinder/images/ui-bg_fine-grain_15_f7f3de_60x60.png repeat scroll 50% 50% #FFF;">
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-xs-12" style="border-color:#d9d6c4; background-color:#eceadf; padding:5px; visibility:visible">
				<div class="panel panel-default" style="border-color:#d9d6c4; background-color:#eeeeee; height:586px;">
					<div class="panel-heading">
						<div class="text-center">
							<h2>Playlist Dashboard</h2>
						</div>
					</div>
			    	<div class="panel-body">
			    		<div id="tabs">
							<ul>
								<li><a href="#managementTab">Manage Playlists</a></li>
								<li><a href="#classPlaylistTab">Class Playlists</a></li>
							</ul>
							<div id="managementTab">
								<div class="clearfix hidden-sm hidden-xs">
									<button id="playlistButton" class="ui-button ui widget ui-state-default ui-corner-all" role="button" style="padding:20px"><span class="ui-icon ui-icon-video" style="float:left; background-image: url(http://download.jqueryui.com/themeroller/images/ui-icons_b83400_256x240.png);"></span>Manage Playlists</button>
						    		<button id="playButton" class="ui-button ui widget ui-state-default ui-corner-all" role="button" style="padding:20px"><span class="ui-icon ui-icon-play" style="float:left; background-image: url(http://download.jqueryui.com/themeroller/images/ui-icons_b83400_256x240.png);"></span>Play Selected Playlist</button>
						    		<button id="shareButton" class="ui-button ui widget ui-state-default ui-corner-all" role="button" style="padding:20px"><span class="ui-icon ui-icon-transfer-e-w" style="float:left; background-image: url(http://download.jqueryui.com/themeroller/images/ui-icons_b83400_256x240.png);"></span>Share Selected Playlist</button>
								</div>
								<div class="clearfix hidden-lg hidden-md" style="margin-left:auto; margin-right:auto; width:70%;">
									<button id="playlistButtonSm" class="ui-button ui widget ui-state-default ui-corner-all" role="button" style="padding:20px"><span class="ui-icon ui-icon-video" style="float:left; background-image: url(http://download.jqueryui.com/themeroller/images/ui-icons_b83400_256x240.png);"></span></button>
									<button id="playButtonSm" class="ui-button ui widget ui-state-default ui-corner-all" role="button" style="padding:20px"><span class="ui-icon ui-icon-play" style="float:left; background-image: url(http://download.jqueryui.com/themeroller/images/ui-icons_b83400_256x240.png);"></span></button>
									<button id="shareButtonSm" class="ui-button ui widget ui-state-default ui-corner-all" role="button" style="padding:20px"><span class="ui-icon ui-icon-transfer-e-w" style="float:left; background-image: url(http://download.jqueryui.com/themeroller/images/ui-icons_b83400_256x240.png);"></span></button>
								</div>
								<br/>
								<br/>
								<div style="margin-left:auto; margin-right:auto; width:62%;">
									<form id="selectUserPlaylist">
										<table id="userPlayists" class="ui-widget ui-widget-content">
											<thead>
												<tr class="ui-widget-header ">
													<th></th>
													<th>Playlist ID</th>
													<th>Title</th>
													<th>Creator Email</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><input type="radio" name="userPlaylist" value="G9SA0Yv-o28"/></td>
													<td>G9SA0Yv-o28</td>
													<td class="ttl">Implementing 1NF, 2NF, 3NF</td>
													<td>schurch@gmail.com</td>
												</tr>
												<tr>
													<td><input type="radio" name="userPlaylist" value="kuixY2bCc_0"/></td>
													<td>kuixY2bCc_0</td>
													<td class="ttl">Multiplying matrices</td>
													<td>jmoseman@edutube.com</td>
												</tr>
												<tr>
													<td><input type="radio" name="userPlaylist" value="7UMNz5T-0VQ"/></td>
													<td>7UMNz5T-0VQ</td>
													<td class="ttl">Introduction To PHP</td>
													<td>jc@unomaha.edu</td>
												</tr>
											</tbody>
										</table>	
									</form>
								</div>					
							</div>
							<div id="classPlaylistTab">
								<div class="clearfix hidden-sm hidden-xs" style="margin-left:auto; margin-right:auto; width:62%;">
									<button id="classButton" class="ui-button ui widget ui-state-default ui-corner-all" role="button" style="padding:20px"><span class="ui-icon ui-icon-play" style="float:left; background-image: url(http://download.jqueryui.com/themeroller/images/ui-icons_b83400_256x240.png);"></span>Play Selected Playlist</button>
								</div>
								<div class="clearfix hidden-lg hidden-md" style="margin-left:auto; margin-right:auto; width:70%;">
									<button id="classButtonSm" class="ui-button ui widget ui-state-default ui-corner-all" role="button" style="padding:20px"><span class="ui-icon ui-icon-play" style="float:left; background-image: url(http://download.jqueryui.com/themeroller/images/ui-icons_b83400_256x240.png);"></span></button>
								</div>
								<br/>
								<br/>
								<div style="margin-left:auto; margin-right:auto; width:62%;">
									<form id="selectClassPlaylist">
										<table id="classPlayists" class="ui-widget ui-widget-content">
											<thead>
												<tr class="ui-widget-header ">
													<th>&nbsp;</th>
													<th>Playlist ID</th>
													<th>Title</th>
													<th>Class</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><input type="radio" name="classPlaylist" value="IyCnbyWZkRU"/></td>
													<td>IyCnbyWZkRU</td>
													<td>Using AJAX with jQuery</td>
													<td>CSCI-4830</td>
												</tr>
											</tbody>
										</table>
									</form>
								</div>
							</div>
						</div>
			 		</div>
				</div>
				<div id="shareBox" title="Share Selected Playlist">
					Please enter the user e-mail you wish to share "<span id="sharepl"></span>" with: <br/>
					<input type="text"/>
				</div>
				<div id="alert" title="Select a Playlist">
					Please select a playlist first.
				</div>
			</div>
			<div class="col-lg-4" style="padding-top:5px">
			<div class="panel panel-default" style="border-color:#d9d6c4; background-color:#eeeeee; overflow-y:scroll; height:586px;">
				<div class="panel-heading"><div class="text-center"><h3>Playlist Data</h3></div></div>
				<div class="panel-body">
					<div id="jstree info" style="float:left;width=30%">
		            	<button id="evts_button">&nbsp;</button>
		           		<div id="evts" class="demo"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<p id="vidId"></p>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>