<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome to the Spring MVC Quickstart application! Get
	started quickly by signing up!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<link href="../../../resources/themes/default/style.min.css"
	rel="stylesheet" media="screen"
	th:href="@{/resources/themes/default/style.min.css}" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="../../../resources/js/jstree.min.js"
	th:src="@{/resources/js/jstree.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/header :: header">Header</div>
	<div class="container">
		<div class="text-center">
			<h1>Test</h1>
			<p class="lead">Welcome to the Spring MVC Quickstart application!
				Get started quickly by signing up.</p>
			<p>
				<a href="/signup" th:href="@{/signup}"
					class="btn btn-success btn-lg">Sign up</a>
			</p>
		</div>
		<button id="evts_button">select node with id 1</button>
		<div id="player"></div>
		<em>either click the button or a node in the tree</em>
		<div id="evts" class="demo"></div>
		<div th:replace="fragments/footer :: footer">&copy; 2013 The
			Static Templates</div>
	</div>
	<script src="../../../resources/js/YoutubeHappy.js"
		th:src="@{/resources/js/YoutubeHappy.js}"></script>
	<script>
		$('#evts_button').on("click", function() {
			var instance = $('#evts').jstree(true);
			instance.deselect_all();
			instance.select_node('1');
		});
		$('#evts')
				.on(
						"changed.jstree",
						function(e, data) {
							if (data.selected.length) {
								alert('The selected node is: ' + data.instance.get_node(data.selected[0]).text);
								//player.seekTo(334, true);
							}
						}).jstree({
					'core' : {
						'multiple' : false,
						'data' : [ {
							"text" : "Root node",
							"children" : [ {
								"text" : "Child node 1",
								"id" : 1
							}, {
								"text" : "Child node 2"
							} ]
						} ]
					}
				});
	</script>

</body>
</html>