<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>
	<br/>
    <div th:fragment="footer">
    	<div class="footerSeparator" id="footerDiv" style="z-index:1; width:100%; height:10px; background-color:#b83400; layer-background-color:#b83400; visibility:visible">
    	</div>
    	<div class="row">
	    	<div class="clearfix col-lg-12 col-md-12 hidden-sm hidden-xs">
	        	&copy; 2015 S. Church, J. Garcia, J. Moseman, N. Pike, B. Roth, J. Viernes
	 		</div>
	 		<div class="clearfix col-sm-12 col-xs-12 hidden-lg hidden-md">
	        	<span style="font-size:9px">&copy; 2015 S. Church, J. Garcia, J. Moseman, N. Pike, B. Roth, J. Viernes</span>
	 		</div>
        </div>
    </div>
</body>
</html>

