<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- <title th:text="#{view.index.title}">Administrative Control</title> -->
<title>Administrative Control</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<link href="../../../resources/themes/default/style.min.css"
	rel="stylesheet" media="screen"
	th:href="@{/resources/themes/default/style.min.css}" />
<link href="../../../resources/jquery-ui-1.11.3.custom_peppergrinder/jquery-ui.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/jquery-ui-1.11.3.custom_peppergrinder/jquery-ui.min.css}"/>
<link href="../../../resources/jquery-ui-1.11.3.custom_peppergrinder/jquery-ui.structure.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/jquery-ui-1.11.3.custom_peppergrinder/jquery-ui.structure.min.css}"/>
<link href="../../../resources/jquery-ui-1.11.3.custom_peppergrinder/jquery-ui.theme.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/jquery-ui-1.11.3.custom_peppergrinder/jquery-ui.theme.min.css}"/>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../../resources/jquery-ui-1.11.3.custom_peppergrinder/jquery-ui.min.js"
	th:src="@{/resources/jquery-ui-1.11.3.custom_peppergrinder/jquery-ui.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="../../../resources/js/jstree.min.js"
	th:src="@{/resources/js/jstree.min.js}"></script>
<script src="../../../resources/js/adminScript.js"
	th:src="@{/resources/js/adminScript.js}"></script>
	<style>th{
		padding-right: 10px;
		text-align: center
		}
		
		td{
		padding-right: 5px;
		text-align: center
		}</style>
</head>
<body style="background-color:#eceadf; background-image:../../../resources/jquery-ui-1.11.3.custom_peppergrinder/images/ui-bg_fine-grain_15_f7f3de_60x60.png">
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container">
	    <!-- /* Handle the flash message */-->
	    <th:block th:if="${message != null}">
	        <!-- /* The message code is returned from the @Controller */ -->
	        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
	    </th:block>
	    <div class="panel panel-default" style="border-color:#d9d6c4; background-color:#eceadf">
	    	<div class="panel-heading">
				<div class="text-center">
					<h2>Administrative Settings</h2>
				</div>
			</div>
	    	<div class="panel-body">
		    	<div id="tabs">
					<ul>
					<li><a href="#tabs-1">Manage User Database</a></li>
					<li><a href="#tabs-2">Manage Playlist Database</a></li>
					<li><a href="#tabs-3">Manage Class Database</a></li>
					</ul>
					<div id="tabs-1">
						<div id="usersBox" title="User Database">
							<button id="create-user" class="ui-button ui widget ui-state-default ui-corner-all" role="button" style="padding:20px"><span class="ui-icon ui-icon-person" style="float:left; background-image: url(http://download.jqueryui.com/themeroller/images/ui-icons_b83400_256x240.png);"></span>Create New User</button>
							<div style="margin-left:auto; margin-right:auto; width:62%;">	
								<h1>Users:</h1>
								<table id="users" class="ui-widget ui-widget-content">
									<thead>
										<tr class="ui-widget-header ">
											<th>Last Name</th>
											<th>First Name</th>
											<th>Email</th>
											<th>Password</th>
											<th>Class Owner</th>
											<th>Classes</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Doe</td>
											<td>John</td>
											<td>john.doe@example.com</td>
											<td>johndoe1</td>
											<td>true</td>
											<td>testclass</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div id="tabs-2">
						<button id="playlistsButton" class="ui-button ui widget ui-state-default ui-corner-all" role="button" style="padding:20px"><span class="ui-icon ui-icon-script" style="float:left; background-image: url(http://download.jqueryui.com/themeroller/images/ui-icons_b83400_256x240.png);"></span>Manage Playlist Database</button>
					</div>
					<div id="tabs-3">
						<div id="classesBox" title="Classes Database">
							<button id="classesButton" class="ui-button ui widget ui-state-default ui-corner-all" role="button" style="padding:20px"><span class="ui-icon ui-icon-note" style="float:left; background-image: url(http://download.jqueryui.com/themeroller/images/ui-icons_b83400_256x240.png);"></span>Manage Class Database</button>
							<div style="margin-left:auto; margin-right:auto; width:62%;">
								<h1>Classes:</h1>
								<table id="classses" class="ui-widget ui-widget-content">
									<thead>
										<tr class="ui-widget-header ">
											<th>Class Name</th>
											<th>Class Moderator Email</th>
											<th>Number of Members</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>testclass</td>
											<td>john.doe@example.com</td>
											<td style="text-align:center">6</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>	
	 		</div>
		</div>
		<div id="create-user-form" title="Create new user">
			<p class="validateTips">All fields are required.</p>
			<form>
				<fieldset>
					<label for="firstName">First Name</label>
					<input type="text" name="firstName" id="firstName" value="Jane" class="text ui-widget-content ui-corner-all"/><br/>
					<label for="lastName">Last Name</label>
					<input type="text" name="lastName" id="lastName" value="Smith" class="text ui-widget-content ui-corner-all"/><br/>
					<label for="email">Email</label>
					<input type="text" name="email" id="email" value="jane@smith.com" class="text ui-widget-content ui-corner-all"/><br/>
					<label for="password">Password</label>
					<input type="password" name="password" id="password" value="xxxxxxx" class="text ui-widget-content ui-corner-all"/><br/>
					<label for="classMod">Class Moderator</label>
					<input type="text" name="classOwner" id="classOwner" value="false" class="text ui-widget-content ui-corner-all"/><br/>
					<label for="classes">Classes</label>
					<input type="text" name="classes" id="classes" value="N/A" class="text ui-widget-content ui-corner-all"/><br/>
					<!-- Allow form submission with keyboard without duplicating the dialog button -->
					<input type="submit" tabindex="-1" style="position:absolute; top:-1000px"/>
				</fieldset>
			</form>
		</div>
		<div id="edit-class" title="Edit Classes">
			<p class="validateTips">All fields are required.</p>
			<form>
				<fieldset>
					<label for="className">Class Name</label>
					<input type="text" name="name" id="name" value="Jane" class="text ui-widget-content ui-corner-all"/><br/>
					<label for="modEmail">Class Moderator Email</label>
					<input type="text" name="email" id="email" value="jane@smith.com" class="text ui-widget-content ui-corner-all"/><br/>
					<!-- Allow form submission with keyboard without duplicating the dialog button -->
					<input type="submit" tabindex="-1" style="position:absolute; top:-1000px"/>
				</fieldset>
			</form>
		</div>
	</div>
	<div th:replace="fragments/sitemap :: sitemap"></div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>