<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Administrative Control</title>
<head>
    <title th:text="#{view.index.title}">Administrative Control</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<link href="../../../resources/themes/default/style.min.css"
	rel="stylesheet" media="screen"
	th:href="@{/resources/themes/default/style.min.css}" />
<link href="../../../resources/jquery-ui-1.11.3.custom_peppergrinder/jquery-ui.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/jquery-ui-1.11.3.custom_peppergrinder/jquery-ui.min.css}"/>
<link href="../../../resources/jquery-ui-1.11.3.custom_peppergrinder/jquery-ui.css" rel="stylesheet"
	media="screen" th:href="@{/resources/jquery-ui-1.11.3.custom_peppergrinder/jquery-ui.css}"/>
<link href="../../../resources/jquery-ui-1.11.3.custom_peppergrinder/jquery-ui.structure.css" rel="stylesheet"
	media="screen" th:href="@{/resources/jquery-ui-1.11.3.custom_peppergrinder/jquery-ui.structure.css}"/>
<link href="../../../resources/jquery-ui-1.11.3.custom_peppergrinder/jquery-ui.structure.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/jquery-ui-1.11.3.custom_peppergrinder/jquery-ui.structure.min.css}"/>
<link href="../../../resources/jquery-ui-1.11.3.custom_peppergrinder/jquery-ui.theme.css" rel="stylesheet"
	media="screen" th:href="@{/resources/jquery-ui-1.11.3.custom_peppergrinder/jquery-ui.theme.css}"/>
<link href="../../../resources/jquery-ui-1.11.3.custom_peppergrinder/jquery-ui.theme.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/jquery-ui-1.11.3.custom_peppergrinder/jquery-ui.theme.min.css}"/>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../../resources/jquery-ui-1.11.3.custom_peppergrinder/jquery-ui.js"></script>
<script src="../../../resources/jquery-ui-1.11.3.custom_peppergrinder/jquery-ui.min.js"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
<script>
	$(function() {
var userDB, users, userDialog, userForm,
		
		emailRegex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/,
		firstName = $("#firstName"),
		lastName = $("#lastName"),
		email = $("#email"),
		password = $("#password"),
		classOwner = $("#classOwner"),
		classes = $("classes"),
		allFields = $([]).add(lastName).add(firstName).add(email).add(password).add(classOwner).add(classes),
		tips = $(".validateTips");
	
	function updateTips(t){
		tips
			.text(t)
			.addclass("ui-state-highlight");
		setTimeout(function(){
			tips.removeClass("ui-state-highlight", 1500);
		}, 500);
	}
	
	function checkLength( o, n, min, max ) {
		if ( o.val().length > max || o.val().length < min ) {
		o.addClass( "ui-state-error" );
		updateTips( "Length of " + n + " must be between " +
		min + " and " + max + "." );
		return false;
		} else {
		return true;
		}
	}
	
	function checkRegexp( o, regexp, n ) {
		if ( !( regexp.test( o.val() ) ) ) {
		o.addClass( "ui-state-error" );
		updateTips( n );
		return false;
		} else {
		return true;
		}
	}
	
	function addUser() {
		var valid = true;
		allFields.removeClass( "ui-state-error" );
		valid = valid && checkLength( lastName, "Last Name", 3, 16 );
		valid = valid && checkLength( firstName, "First Name", 3, 16 );
		valid = valid && checkLength( email, "email", 6, 80 );
		valid = valid && checkLength( password, "password", 5, 16 );
		valid = valid && checkRegexp( lastName, /^[a-z]([0-9a-z_\s])+$/i, "Last name may consist of a-z, 0-9, underscores, spaces and must begin with a letter." );
		valid = valid && checkRegexp( firstName, /^[a-z]([0-9a-z_\s])+$/i, "First name may consist of a-z, 0-9, underscores, spaces and must begin with a letter." );
		valid = valid && checkRegexp( email, emailRegex, "eg. name@service.com" );
		valid = valid && checkRegexp( password, /^([0-9a-zA-Z])+$/, "Password field only allow : a-z 0-9" );
		valid 
		if ( valid ) {
			$( "#users tbody" ).append( "<tr>" +
			"<td>" + name.val() + "</td>" +
			"<td>" + email.val() + "</td>" +
			"<td>" + password.val() + "</td>" +
			"</tr>" );
			userDialog.dialog( "close" );
		}
		return valid;
	}
	
	userDialog = $( "#create-user-form" ).dialog({
	autoOpen: false,
	height: 300,
	width: 350,
	modal: true,
	buttons: {
	"Create User": addUser,
	Cancel: function() {
	userDialog.dialog( "close" );
	}
	},
	close: function() {
	userForm[ 0 ].reset();
	allFields.removeClass( "ui-state-error" );
	}
	});
	userForm = userDialog.find( "form" ).on( "submit", function( event ) {
	event.preventDefault();
	addUser();
	});
	$( "#create-user" ).button().on( "click", function() {
	userDialog.dialog( "open" );
	});
		
		$( "#playlistsBox" ).dialog({
			autoOpen: false,
			show: {
				effect: "fade",
				duration: 700
			},
			hide: {
				effect: "fade",
				duration: 700
			}
		});
		
		$( "#playlistsButton" ).click(function(){
			$( "#playlistsBox").dialog( "open" );
		});
		
		$( "#classesBox" ).dialog({
			autoOpen: false,
			show: {
				effect: "fade",
				duration: 700
			},
			hide: {
				effect: "fade",
				duration: 700
			}
		});
		
		$( "#classesButton" ).click(function(){
			$( "#classesBox").dialog( "open" );
		});
	});
</script>
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container">
	    <!-- /* Handle the flash message */-->
	    <th:block th:if="${message != null}">
	        <!-- /* The message code is returned from the @Controller */ -->
	        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
	    </th:block>
	    <div class="panel panel-default" style="border-color:#d9d6c4; background-color:#eceadf">
	    	<div class="panel-heading">
				<div class="text-center">
					<h2>Administrative Settings</h2>
				</div>
			</div>
	    	<div class="panel-body">
	    		<div style="margin-left:auto; margin-right:auto; width:62%;">
		    		<button id="usersButton" class="ui-button ui widget ui-state-default ui-corner-all" role="button" style="padding:20px"><span class="ui-icon ui-icon-person" style="float:left; background-image: url(http://download.jqueryui.com/themeroller/images/ui-icons_b83400_256x240.png);"></span>Manage User Database</button>
		    		<button id="playlistsButton" class="ui-button ui widget ui-state-default ui-corner-all" role="button" style="padding:20px"><span class="ui-icon ui-icon-script" style="float:left; background-image: url(http://download.jqueryui.com/themeroller/images/ui-icons_b83400_256x240.png);"></span>Manage Playlist Database</button>
		    		<button id="classesButton" class="ui-button ui widget ui-state-default ui-corner-all" role="button" style="padding:20px"><span class="ui-icon ui-icon-note" style="float:left; background-image: url(http://download.jqueryui.com/themeroller/images/ui-icons_b83400_256x240.png);"></span>Manage Class Database</button>
				</div>		
	 		</div>
		</div>
		<div id="create-user-form" title="Create new user">
	<p class="validateTips">All fields are required.</p>
	<form>
		<fieldset>
			<label for="lastName">Last Name</label>
			<input type="text" name="name" id="name" value="Jane Smith" class="text ui-widget-content ui-corner-all">
			<label for="firstName">First Name</label>
			<input type="text" name="name" id="name" value="Jane Smith" class="text ui-widget-content ui-corner-all">
			<label for="email">Email</label>
			<input type="text" name="email" id="email" value="jane@smith.com" class="text ui-widget-content ui-corner-all">
			<label for="password">Password</label>
			<input type="password" name="password" id="password" value="xxxxxxx" class="text ui-widget-content ui-corner-all">
			<!-- Allow form submission with keyboard without duplicating the dialog button -->
			<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
		</fieldset>
	</form>
</div>

<div id="usersBox" title="User Database">
	<button id="create-user">Create new user</button>
	<h1>Users:</h1>
	<table id="users" class="ui-widget ui-widget-content">
	<thead>
	<tr class="ui-widget-header ">
	<th>Last Name</th>
	<th>First Name</th>
	<th>Email</th>
	<th>Password</th>
	<th>Class Owner</th>
	<th>Classes</th>
	</tr>
	</thead>
	<tbody>
	<tr>
	<td>Doe</td>
	<td>John</td>
	<td>john.doe@example.com</td>
	<td>johndoe1</td>
	<td>true</td>
	<td>testclass</td>
	</tr>
	</tbody>
	</table>
</div>
		<div id="playlistsBox" title="Playlist Database">
			<p>This is part of a dialog box</p>
		</div>
		<div id="classesBox" title="Classes Database">
			<p>This is part of a dialog box</p>
		</div>
	</div>
	<div th:replace="fragments/sitemap :: sitemap"></div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>